@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-ink text-slate-100;
  }
}
